{:deps {org.clojure/clojurescript {:mvn/version "1.9.946"}
        org.clojure/tools.reader {:mvn/version "1.2.1"}
        reagent {:mvn/version "0.8.0-alpha2"}
        re-frame {:mvn/version "0.10.4"}
        binaryage/devtools {:mvn/version "0.9.9"}
        day8.re-frame/trace {:mvn/version "0.1.18"}}
 :paths ["src" "resources"]
 :aliases {:repl
           {:extra-deps
            {;; Figwheel ClojureScript REPL
             com.cemerick/piggieback {:mvn/version "0.2.2"
                                      :exclusions  [com.google.javascript/closure-compiler]}
             figwheel-sidecar        {:mvn/version "0.5.14"
                                      :exclusions  [com.google.javascript/closure-compiler]}}}}}