{:deps {org.clojure/clojurescript {:mvn/version "1.10.516"}
        org.clojure/tools.reader  {:mvn/version "1.3.2"}
        reagent                   {:mvn/version "0.8.1"}
        re-frame                  {:mvn/version "0.10.6"}}
 :paths ["src"]
 :aliases {:examples {:extra-paths ["pluto-web/src" "target" "test" "examples/src" "examples/resources"]
                      :extra-deps  {com.bhauman/figwheel-main       {:mvn/version "0.2.0"}
                                    com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                    binaryage/devtools              {:mvn/version "0.9.10"}
                                    cljsjs/codemirror               {:mvn/version "5.40.2-1"}
                                    cljsjs/parinfer                 {:mvn/version "3.11.0-0"}
                                    cljsjs/parinfer-codemirror      {:mvn/version "1.4.1-2"}
                                    cljsjs/material-ui              {:mvn/version "3.9.1-0"}}
                      :main-opts   ["-m" "figwheel.main" "-b" "examples/dev" "-r"]}
           :test-clj {:extra-paths ["test"]
                      :extra-deps  {eftest {:mvn/version "0.5.4"}}
                      :main-opts   ["-e"  "(require,'[eftest.runner,:refer,[find-tests,run-tests]]),(run-tests,(find-tests,\"test\"))"]}
           :test-cljs {:extra-paths ["test"]
                       :extra-deps  {olical/cljs-test-runner {:mvn/version "3.4.0"}}
                       :main-opts   ["-m" "cljs-test-runner.main" "-o" "target/cljs-test-runner-out"]}}}
