{meta
 {:name          "Simple Demo"
  :description   "A simple demo of extension"
  :documentation "Nothing. Just see a text with dynamic random color."}

 hooks/main.demo
 {:view [main]}

 events/my-alert
 (let [{you :arg} properties]
   [alert {:value "Eh! ${you}"}])

 views/main
 (let [{name :name users :users}   properties
       {cond? :cond?} [random-boolean]]
   [view
    [button {:on-click [my-alert {:arg name}]}
     "Hello ${name}"]
    (if cond?
      [text {:style {:color "green"}}
       name]
      [text {:style {:color "red"}}
       name])
    [view "Nested for block"]
    (for [{nm :nm} users]
      (for [{nm2 :nm} users]
        [view nm " and " nm2]))])}
