{meta
 {:name          "Simple Demo"
  :description   "A simple demo of extension"
  :documentation "Nothing. Just see a text with dynamic random color."}

 hooks/main.demo
 {:view [main]}

 views/main
 (let [{name :name}   properties
       {cond? :cond?} [random-boolean]]
   [view {}
    [button {:on-click [alert {:value name}]}
     "Hello ${name}"]
    (if cond?
      [text {:style {:color "green"}}
       name]
      [text {:style {:color "red"}}
       name])])}
