{meta
 {:name          "Simple Demo"
  :description   "A simple demo of extension"
  :documentation "Nothing. Just see a text with dynamic random color."}

 hooks/main.demo
 {:view [main]}

 events/my-alert
 (let [{you :arg value :value} properties]
   [alert {:value "Eh! ${you} ${value}"}])

 events/cb
 (let [{value :arg cond? :cond? v :value} properties]
   [identity {:cb [my-alert {:arg value :value "%% ${v}"}]}])

 views/local-view
 {:component-did-mount [alert {:value "Mount!!"}]
  :view
  (let [{name :name color :color} properties]
    [text {:style {:color color}}
     name])}

 views/main
 (let [{name :name users :users}   properties
       {cond? :cond?} [random-boolean]]
   [view
    [local-view {:name "Hey!! ${name}" :color :red}]
    [button {:on-click [cb {:arg name :cond? cond? :value "AA"}]}
     "Hello ${name}"]
    (if cond?
      [text {:style {:color "green"}}
       name]
      [text {:style {:color "red"}}
       name])
    [view "Nested for block"]
    (for [{nm :nm} users]
      [view
        (for [{nm2 :nm} users]
          [text nm " and " nm2])])])}
