{meta
 {:name          "Simple Demo"
  :description   "A simple demo of extension"
  :documentation "Nothing. Just see a text with dynamic random color."}

 hooks/main.demo
 {:view [main]}

 events/my-alert
 (let [{you :arg [value :as all] :value} properties]
   [alert {:value "Eh! ${you} ${value}"}])

 events/cb
 (let [{value :arg cond? :cond? v :value} properties]
   [alert {:value "Eh bis! ${you} ${value}"}]
   [identity {:cb [my-alert {:arg value :value ["%% ${v}"]}]}])

 views/local-view
 {:component-did-mount [alert {:value "Mount!!"}]
  :view
  (let [{name :name color :color level :level} properties]
    (case level
      :polite [text {:style {:color color}} "Hello!! ${name}"]
      :neutral [text {:style {:color color}} "Hey!! ${name}"]
      "?? ${name}"))}

 views/local-view2
 (let [{name :name color :color level :level} properties]
   (case level
     :polite [text {:style {:color color}} "Hey!!  ${name}"]
     "Hello ${name}"))

 views/main
 (let [{name :name users :users}   properties
       {cond? :cond?} [random-boolean]]
   [view
    [local-view {:name "Hey!! ${name}" :color :red :level :polite}]
    [button {:on-click [cb {:arg name :cond? cond? :value "AA"}]}
     "Click!"]
    ;[button {:on-click [alert {}]}
    ; "Click2 !"]

    [button {:on-click [my-alert {:arg cond? :value ["%% ${name}"]}]}
     "Click2 !"]
    [button {:on-click [alert {:value "AA"}]}
     "Click3 !"]
    (if cond?
      [text {:style {:color "green"}}
       name]
      [text {:style {:color "red"}}
       name])
    [view "Nested for block"]
    (for [{nm :nm} users]
      [view
       (for [{nm2 :nm} users]
         [text nm " and " nm2])])])}
